.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-layout {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-l);
  padding-bottom: var(--space-3xl);
  width: 100%;
}

@media screen and (min-width: 800px) {
  .content-layout {
    width: 90%;
  }
}
