.editable-markdown {
  width: 100%;
  /* height: 100%; */
}

@media print {
  .editable-markdown,
  .editable-markdown textarea {
    width: 100% !important;
    height: auto !important;
    border: none !important;
  }

  .print-hide {
    display: none !important;
  }
}
