.tool-button {
  padding: 16px 28px;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.tool-button:hover {
  text-decoration: underline;
}

.tool-button-mini {
  padding: 7px 7px;
  border: none;
  color: inherit;
  cursor: pointer;
}

.tool-button:disabled,
.tool-button[disabled],
.tool-button-mini:disabled,
.tool-button-mini[disabled] {
  opacity: 50%;
  cursor: default;
}

.button-green {
  background-color: #08a850;
  color: #fff;
}

.button-gray {
  background-color: #4d4d4d;
  color: #fff;
}

.button-red {
  background-color: #ff3e3e;
  color: #000;
}
