.tool-button {
  padding: var(--space-m) var(--space-l);
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.tool-button:hover {
  text-decoration: underline;
}

.tool-button-mini {
  padding: var(--space-xs) var(--space-s);
  border: none;
  color: inherit;
  cursor: pointer;
}

.tool-button:disabled,
.tool-button[disabled],
.tool-button-mini:disabled,
.tool-button-mini[disabled] {
  opacity: 50%;
  cursor: default;
}

.button-green {
  background-color: var(--c-green);
  color: var(--c-bodyContrast);
}

.button-gray {
  background-color: var(--c-gray6);
  color: var(--c-bodyContrast);
}

.button-red {
  background-color: var(--c-red);
  color: var(--c-bodyContrast);
}
