.navbar {
  font-size: var(--text-xs);
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-l) var(--space-xl);
  margin-bottom: var(--space-m);
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.navbar-toggle {
  position: absolute;
  top: var(--space-m);
  right: var(--space-m);
  padding: 12px;
  display: block;
  z-index: 100;
  background-color: var(--c-gray6);
  width: 48px;
  height: 48px;
  border-radius: var(--radius);
  cursor: pointer;
}

.navlinks-section {
  display: flex;
  align-items: center;
  gap: var(--space-m);

  flex-wrap: wrap;
  justify-content: center;
}

.navtitle {
  font-size: var(--text-m);
  flex-grow: 1;
  font-weight: bolder;
  margin-bottom: var(--space-xl);
}

.navtitle a {
  text-decoration: none;
  color: var(--c-body);
}

.navlinks-section-toggle {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .navbar {
    max-width: 75%;
    flex-direction: row;
  }

  .navbar-toggle {
    display: none;
  }

  .navtitle {
    margin-bottom: 0;
  }

  .navlinks-section {
    display: flex;
    align-items: center;
  }

  .navlinks-section-toggle {
    display: flex !important;
  }
}

@media print {
  .navtitle a {
    color: black !important;
  }

  .navbar-toggle {
    display: none;
  }

  .navlinks-section {
    display: none;
  }

  .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
