.navbar {
  font-size: 24px;
  display: flex;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 36px;
  margin-bottom: 32px;
  width: 100%;
  align-items: center;
  justify-content: right;
}

@media print {
  .navbar {
    display: none;
  }
}

.navbar-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 16px;
  display: block;
  z-index: 100;
  background-color: #000;
  width: 64px;
  height: 64px;
}

.navbar {
  flex-direction: column;
}

.navlinks-section {
  display: flex;
  align-items: center;
}

.navtitle {
  margin-bottom: 32px;
}

.navtitle {
  flex-grow: 1;
  font-weight: bolder;
}

.navtitle a {
  text-decoration: none;
}

.navlink {
  padding: 14px 18px;
  border-radius: 10px;
  margin: 0 8px;
  font-size: 18px;
  background-color: #0c0c0c;
  text-decoration: none;
}

.navlink:hover {
  background-color: #1a346d;
  text-decoration: underline;
}

.navlink-discord {
  background: #5865f2;
}

.navlinks-section-toggle {
  display: none !important;
}

@media screen and (min-width: 800px) {
  .navbar {
    max-width: 75%;
    flex-direction: row;
  }

  .navbar-toggle {
    display: none;
  }

  .navtitle {
    margin-bottom: 0;
  }

  .navlinks-section {
    display: flex;
    align-items: center;
  }

  .navlinks-section-toggle {
    display: flex !important;
  }
}
