.navlink {
  text-decoration: none;

  padding: var(--textFrameY) var(--textFrameX);
  border: none;
  background-color: var(--c-buttonBg);
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  color: var(--c-body);
}

.navlink:hover {
  background-color: var(--c-buttonBgHover);
  text-decoration: underline;
}
